<% content_for(:browser_title) do %>
	Affordability Calculator
<% end -%>

<% content_for(:title) do %>
	<h2>Affordability Calculator</h2>
<% end -%>

<%= render :partial => "affordability" %>

<br/>

<div id="callus">
	<h3>Call us now!</h3>
	<p>Contact us now to find out more about <strong>new vehicles</strong> or speak to one of our agents about our selection of <strong>used cars</strong> on offer. See our <a href="contact-us.html">contact details</a> to get in touch.</p>
</div><!-- end callus -->