<div id="leftcol">
	<h2>Latest News</h2>

	<% unless @news_articles.blank? %>

		<% for news_article in @news_articles %>
		
			<div id="news">
				<img src="/images/newspic1.jpg" alt="Hummer"> 
				<p>
					<small><%= news_article.publish_at %></small><br>
					<strong><%=h news_article.title %></strong><br>
					<%= news_article.rendered_text %>
				</p>
			</div>

		<% end %>

	<% end %>

</div><!-- end leftcol -->


<div id="middlecol">
	<h2>Keep Informed</h2>
	<p>Sign-up here to receive two-weekly automotive newsletters straight to your inbox.</p>
	<%= render :partial => "newsletters/form" %>
</div><!-- end middlecol -->


<div id="rightcol">
	<h2>To be confirmed...</h2>
	<br><br><br><br><br><br>
</div><!-- end rightcol -->