<h2>Listing branches</h2>

<% unless @branches.blank? %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for branch in @branches %>
  <tr>
    <td><%= link_to  branch.name, branch %></td>
  </tr>
<% end %>
</table>

<% else  %>
  <p>There are no branches available.</p>
<% end  %>
