<h1>Listing branches</h1>

<% unless @branches.blank? %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for branch in @branches %>
  <tr>
    <td><%= link_to  branch.name, branch %></td>
    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
    <td><%= link_to 'Destroy', branch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% else  %>
  <p>There are no branches available.</p>
<% end  %>

<br />

<%= link_to 'New branch', new_branch_path %>
