<% content_for(:browser_title) do %>
	Stock List Subscription
<% end -%>

<% content_for(:title) do %>
	<h2>Stock List Subscription</h2>
<% end -%>

<p>Subscribe to our daily stock sheet email.</p>

<p>You will receive daily e-mail containing all our pre-owned vehicles.  If you are interested in any of these vehicles, you can simply contact us on the numbers listed in the e-mail.  To stop receiving the list, you can simply unsubscribe  by selecting the appropriate option in the e-mail.</p>

<%= render :partial => "form" %>