<% content_for(:browser_title) do %>
	Bye
<% end -%>

<% content_for(:title) do %>
	<h2>Bye</h2>
<% end -%>

You have successfully unsubscribed from the stocklists. You will still receive the newsletter if you have subscribed to it.
