<% content_for(:browser_title) do %>
	Search results
<% end -%>

<% content_for(:title) do %>
	<h2>Search results</h2>
<% end -%>

<% unless @results.nil? %>
	<% if @results.empty? %>
		<p>We didn't find any cars matching your criteria.</p>
	<% else %>
		<%= render :partial => "new_vehicle_results", :locals => { :results => @results } %>

		<%= will_paginate @results %>
	<% end -%>

	<%= partial "shared/follow_up", { :criteria_in_words => @criteria_in_words } %>
<% end -%>
