<form action="http://theselovelydays.createsend.com/t/1/s/ohjyu/" method="post">
	<div class="form">
		<label for="mb-name">Name:</label><br /><input type="text" name="mb-name" id="mb-name" size="35" /><br /><label for="mb-ohjyu-ohjyu">Email:</label><br /><input type="text" name="mb-ohjyu-ohjyu" id="mb-ohjyu-ohjyu" size="35" /><br />
		<label for="Phone">Phone:</label><br /><input type="text" name="mb.f-trnr" id="Phone" size="35" /><br />
		<br /><input class="button" src="/images/btn-submit.gif" value="Submit" type="image" />
	</div>
</form>