<% content_for(:browser_title) do %>
	Thank you
<% end -%>

<% content_for(:title) do %>
	<h2>Thank you</h2>
<% end -%>



<div class="notice">You have successfully subscribed to the newsletter.</div>