<% content_for(:browser_title) do %>
	Newsletter Subscription
<% end -%>

<% content_for(:title) do %>
	<h2>Newsletter Subscription</h2>
<% end -%>

<p>Sign-up here to receive our quarterly newsletters straight to your inbox.  We will keep you up to date with all our hottest offers, new model releases, industry news as well as some great competitions.</p>
<%= render :partial => "form" %>