<h2>Newsletter Subscription</h2>

<form action="http://theselovelydays.createsend.com/t/1/s/ohjyu/" method="post">
	<div>
		<label for="mb-name">Name:</label><br /><input type="text" name="mb-name" id="mb-name" /><br /><label for="mb-ohjyu-ohjyu">Email:</label><br /><input type="text" name="mb-ohjyu-ohjyu" id="mb-ohjyu-ohjyu" /><br />
		<label for="Phone">Phone:</label><br /><input type="text" name="mb.f-trnr" id="Phone" size="25" /><br />
		<br /><input type="submit" value="Subscribe" />
	</div>
</form>