<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<!-- saved from url=(0014)about:internet -->
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<title>CHEVROLET SPARK</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
	td img {display: block;}
	</style>
	<!--Fireworks 8 Dreamweaver 8 target.  Created Wed Sep 02 09:20:51 GMT+0200 (South Africa Standard Time) 2009-->
	</head>
	<body bgcolor="#ffffff">
	                <table width="617" border="0" align="center" cellpadding="0" cellspacing="0">
	                        <!-- fwtable fwsrc="Untitled" fwbase="3313.jpg" fwstyle="Dreamweaver" fwdocid = "998175430" fwnested="0" -->
	                        <tr>
	                                <td style="padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" valign="top">
	                                        <p align="center"><font size="2">If you are unable to see the images in this e-mail or if the e-mail is distorted in any way, please mail:</font><font size="2" color="#0066e7">zubaidas@reeds.co.za</font><font size="2"> and ask for a PDF version of this mailer.</font><img name="HEADER_4" src="http://www.admakers.co.za/dev/mailers/reeds/36368/1.jpg" width="670" height="516" border="0" id="HEADER_4" alt="" /></p>
	                                        <p align="left"><font size="3" face="Arial, Helvetica, sans-serif">We thank you for your enquiry and acknowledge receipt thereof. <br />
	                                                        One of our team members will <strong>contact you soon!</strong></font></p>
	                                        <p align="left"><font size="3" face="Arial, Helvetica, sans-serif">Kind Regards<br />
	                                                </font><font size="3" face="Arial, Helvetica, sans-serif">The Reeds team</font></p>
	                                </td>
	                        </tr>
	                        <tr>
	                                <td><img name="FOOTER" src="http://www.admakers.co.za/dev/mailers/reeds/36368/4.jpg" width="670" height="97" usemap="#footer260d49a7" border="0" id="FOOTER" alt="" /><map name="footer260d49a7"><area shape="rect" coords="99,68,189,95" href="http://twitter.com/ReedsMotorGroup" alt="" /><area shape="rect" coords="456,46,669,95" href="http://www.reeds.co.za" alt="" /><area shape="rect" coords="211,64,295,95" href="http://www.facebook.com/group.php?gid=69786709240" alt="" /></map></td>
	                        </tr>
	                        <tr>
	                                <td valign="top" align="center" style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; padding-top:10px">Please click <a href="mailto:no@reeds.co.za?subject=Please unsubscribe me."><span style="color:#666666;">here</span></a> or send a blank email to <a href="mailto:no@reeds.co.za?subject=Please unsubscribe me."><span style="color:#666666;">no@reeds.co.za</span></a> if you wish to unsubscribe </td>
	                        </tr>
	                        </tr>
	                        <tr>
	                                <td>
	                                        <table border="0" align="center" width="617">
	                                                <tr>
	                                                        <td valign="top" align="center" style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; padding-top:10px"> If you can not see the images above, please click <a href="http://www.admakers.co.za/dev/mailers/reeds/36065/36065.html" target="_blank"  style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-decoration:underline">here</a>. </td>
	                                                </tr>
	                                        </table>
	                                </td>
	                        </tr>
	                </table>
	        </body>
	</html>