<% unless menu_items.blank?  %>

	<ul id="nav">
		<% for menu_item in menu_items %>
			<li <% if ["/", "/contact"].include?(menu_item.path) -%>id="border"<% end -%>>
				<a href="<%= url_for_menu menu_item %>"><span><%= menu_item.title %></span></a>
				<% unless menu_item.children.blank? %>
					<%= partial 'menu_items/sub_menu_list', :menu_items => menu_item.children %>
				<% end  %>
			</li>
		<% end  %>
	</ul>

<% end %>
