#print_logo_image {
	display: none;
}

span.info {
	padding:0px;
	margin: 0px;
	color: #9a9a9a;
}

#gallery p.no_pdf { 
background: #ebf1f6;
text-align: left; 
padding: 6px 0 7px 12px;
font: normal 1.1em/1.3em "Arial", Helvetica, san-serif; 
}

.notice, #enquiry div.notice {
	margin: 10px;
	padding: 10px;
	padding-left: 30px;
	background: #FFFF97 url(/images/tick.png) 8px 5px no-repeat;
}

#enquiry div.notice {
	width: 140px;
}

.error, #enquiry div.error div {
	margin: 10px;
	padding: 10px;
	background-color: #E78B7A;
}

#enquiry div.error div {
	margin: 0px;
	margin-bottom: 10px;
}

#enquiry div.notice div {
	margin: 0px;
	margin-bottom: 10px;
}

.error h2 {
	font-size: 12px;
}

.paging {
	text-align: right;
	margin-right: 15px;
}

span.caps { padding: 0;} 

table.layout, tr.layout, td.layout, th.layout {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.accessories {
	font-size: 10px;
}

li.non_list {
	list-style-type: none;
}

h2 span {
	font: 62.5% "Arial", Helvetica, san-serif;  
}



/* page flip */
img { behavior: url(/stylesheets/iepngfix.htc) }
#pageflip {
	position: relative;
	right: 0; top: 0;
	float: right; 
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
}
#pageflip .msg_block {
	width: 50px; height: 50px;
	overflow: hidden;
	position: absolute;
	right: 0; top: 0;
	background: url(/images/100-years.png) no-repeat right top;
}