span.info {
	padding:0px;
	margin: 0px;
	color: #9a9a9a;
}

#gallery p.no_pdf { 
background: #ebf1f6;
text-align: left; 
padding: 6px 0 7px 12px;
font: normal 1.1em/1.3em "Arial", Helvetica, san-serif; 
}

.notice {
	margin: 10px;
	padding: 10px;
	padding-left: 30px;
	background: #FFFF97 url(/images/tick.png) 8px 5px no-repeat;
}

.error {
	margin: 10px;
	padding: 10px;
	background-color: #E78B7A;
}

.error h2 {
	font-size: 12px;
}

.paging {
	text-align: right;
	margin-right: 15px;
}

span.caps { padding: 0;} 

table.layout, tr.layout, td.layout, th.layout {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.accessories {
	font-size: 10px;
}