#print_logo_image {
	display: none;
}

span.info {
	padding:0px;
	margin: 0px;
	color: #9a9a9a;
}

#gallery p.no_pdf { 
background: #ebf1f6;
text-align: left; 
padding: 6px 0 7px 12px;
font: normal 1.1em/1.3em "Arial", Helvetica, san-serif; 
}

.notice, #enquiry div.notice {
	margin: 10px;
	padding: 10px;
	padding-left: 30px;
	background: #FFFF97 url(/images/tick.png) 8px 5px no-repeat;
}

#enquiry div.notice {
	width: 140px;
}

.error, #enquiry div.error div {
	margin: 10px;
	padding: 10px;
	background-color: #E78B7A;
}

#enquiry div.error div {
	margin: 0px;
	margin-bottom: 10px;
}

#enquiry div.notice div {
	margin: 0px;
	margin-bottom: 10px;
}

.error h2 {
	font-size: 12px;
}

.paging {
	text-align: right;
	margin-right: 15px;
}

span.caps { padding: 0;} 

table.layout, tr.layout, td.layout, th.layout {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.accessories {
	font-size: 10px;
}

li.non_list {
	list-style-type: none;
}

h2 span {
	font: 62.5% "Arial", Helvetica, san-serif;  
}



/* page flip */
img { behavior: url(/stylesheets/iepngfix.htc) }
#pageflip {
	position: relative;
	right: 0; top: 0;
	float: right; 
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
}
#pageflip .msg_block {
	width: 50px; height: 50px;
	overflow: hidden;
	position: absolute;
	right: 0; top: 0;
	background: url(/images/100-years.png) no-repeat right top;
}



/* new vehicle feature header */
h2.new {
width: 622px;
height: 45px;
margin: 0 0 15px 15px;
background: #003f75 url(/images/h2-new.gif) 0 0 no-repeat;
color: #fff;
font: bold italic 2.8em/1.45em "Arial Narrow", Arial, Helvetica, san-serif;  
text-transform: none;
padding: 0 0;
}
h2.new span {
color: #fff;
float: left;
width: 77px;
margin: 0;
padding: 0 0 0 12px;
font: bold italic 1em/1.45em "Arial Narrow", Arial, Helvetica, san-serif;  
}
#new-gallery {
width: 622px;
margin: 0 0 15px 0;
float: left;
padding-left: 15px;
}
#new-gallery img { float: left; margin: 0 1px 1px 0;}
#new-gallery #thumbs { float: left; width: 248px; margin: 0;}
#new-gallery #thumbs img {width: auto;}
p.pdf { 
background: #ebf1f6 url(/images/pdf-bg.gif) 0 bottom no-repeat;
text-align: left; 
padding: 6px 0 7px 12px;
font: normal 1.1em/1.3em "Arial", Helvetica, san-serif; 
}
/* secondary page columns */
#twofourtyeight { width: 263px;float: left;}
#threeseventwo { width: 372px; float: left; }
#threeseventwo h4 {
background: none;
text-transform: none;
font: bold italic 2.5em/1.45em "Arial Narrow", Arial, Helvetica, san-serif;  
padding: 0;
margin: 0 0 10px 15px;
}
#twofourtyeight #enquiry {
width: 233px;
margin: 0 0 0 15px;
background: none; 
border: 1px solid #B4CFE2;
}
#twofourtyeight #enquiry div {
width: 233px;
margin: 0;
border: 0;
padding: 0 0 10px;
background: none; 
background: url(/images/enquiry-btm.gif) 0 bottom no-repeat; 
}
#twofourtyeight #enquiry .form {width: auto;}
#twofourtyeight #enquiry div form input, #enquiry form textarea, #enquiry form select, #actions form input, #actions form textarea, .sidebox form select { width: 90%;}
img.brdr {
border: 1px solid #afbbc7;
padding: 2px;
margin: 0 0 10px 15px;
}
img.brdr1{
    border: 1px solid #afbbc7;
    padding: 2px;
    margin: 0 0 10px 15px;
    background-color:#afbbc7;
}
/* home page columns */
#middlecol {margin: 15px 0 0;}

#leftcol p.twitter { width: 255px; margin: 0; float: none; clear: both; text-align: right;}
.social{margin-right:10px;float:right;text-align:left;line-height:22px;min-height:22px;}
.search_button{padding-left:10px;float:left;line-height:22px;min-height:22px;}
