<% content_for(:browser_title) do %>
	Book a service for your vehicle
<% end -%>

<% content_for(:title) do %>
	<h2>Book a service for your vehicle</h2>
	<p>Reeds will contact you to confirm your preferred booking date.</p>
<% end -%>


<%= partial :book_form %>