<% content_for(:browser_title) do %>
	Book a service for your vehicle
<% end -%>

<% content_for(:title) do %>
	<h2>Book a service for your vehicle</h2>
          <p>REEDS will contact you to confirm your preferred booking date.
          This contact form is exclusively a request for availability, and does not constitute a confirmed booking in any of our Service centres.
          A booking consultant will contact you once availability has been checks and a confirmed date and workshop can be confirmed.
          This form below is not a real time booking confirmation.</p>
<% end -%>


<%= partial :book_form %>