<% content_for(:browser_title) do %>
	Chevrolet Spark
<% end -%>

<% content_for(:title) do %>
	<h2 class="new"><span>NEW</span> 		 Chevrolet Spark</h2>
<% end -%>

      <div id="new-gallery">
        <script language="JavaScript" type="text/javascript">
	function movepic(img_name,img_src) {
		document[img_name].src=img_src;
	}
</script>
	  <img alt="Image" height="405" name="main" src="/images/spark/Spark1.jpg" title="CHEVROLET Spark" width="640" />
      </div>
      <!-- end new-gallery -->


					<div id="twofourtyeight">

						
			        <div id="enquiry">
			          <div>
			            <h3>Vehicle enquiry</h3>
			            <div id="enquiry_form_notice" class="notice" style="display: none;"></div>
			            <div id="enquiry_form_errors" class="error" style="display: none;"></div>
			            <form action="/contact/new_vehicle_enquiry" id="enquiry_form" method="post">
			              <div class="form">
			                <label>Your first name:</label>
			                <input id="form_first" name="form[first]" size="30" type="text" />
			                <br/>
			                <label>Your last name:</label>
			                <input id="form_last" name="form[last]" size="30" type="text" />
			                <br/>
			                <label>Telephone No:</label>
			                <input id="form_phone" name="form[phone]" size="30" type="text" />
			                <br/>
			                <label>Email address: </label>
			                <input id="form_email" name="form[email]" size="30" type="text" />
			                <br/>
			                <label>Branch:</label>
			                <br/>
			                <select id="form_branch" name="form[branch]">
			                  <option value="">Please select ...</option>
			                  <option value="Tygervalley">Tygervalley</option>
			                  <option value="Cape Town">Cape Town</option>
			                  <option value="N1 City">N1 City</option>
			                  <option value="Isuzu Truck Centre">Isuzu Truck Centre</option>
			                  <option value="Premium Brands">Premium Brands</option>
			                </select>
			                <br/>
			                <input class="radio" id="form_insurance_i_require_insurance" name="form[insurance]" type="radio" value="I require insurance" />
			                I require insurance.<br/>
			                <input class="radio" id="form_insurance_i_have_insurance_but_would_like_another_insurance_quote" name="form[insurance]" type="radio" value="I have insurance, but would like another insurance quote" />
			                I have insurance, but would like another insurance quote.<br/>
			                <label class="gap">Vehicle:</label>
			                <select id="form_vehicle" name="form[vehicle]">
			                  <option value="CHEVROLET SPARK 1.2 L">CHEVROLET SPARK 1.2 L</option>
			                  <option value="CHEVROLET SPARK 1.2 LS">CHEVROLET SPARK 1.2 LS</option>
			                </select>
			                <br/>
			                <label>Accessories:</label>
			                <textarea cols="40" id="form_accessories" name="form[accessories]" rows="2"></textarea>
			                <br/>
			                <label>Comments:</label>
			                <textarea cols="40" id="form_comments" name="form[comments]" rows="2"></textarea>
			                <br/>
			                <input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" />
			                <span id='enquiry_spinner' style='display:none;'><img alt="Spinner" src="/images/spinner.gif" /></span>
			              </div>
			            </form>
			          </div>
			        </div>
			        <!-- end enquiry -->
			        <script type="text/javascript">
			//<![CDATA[

			 $('#enquiry_form').ajaxForm({
				dataType: 'script',
				beforeSubmit: function(xhr){
					$('#enquiry_spinner').show();
					$('#enquiry_form_errors').hide();
					$('#enquiry_form_notice').hide();
				},
				success: function(data){
					$('#enquiry_spinner').hide();
					eval(data);
				}
			});
			//]]>
			</script>
			      </div>
			      <!-- end twofourtyeight -->

						      <div id="threeseventwo">

							  <h4>Looking forward to the Spark!</h4>

								<p>The new Spark will substantially enhance Chevrolet's offerings in the small car segment in South Africa and will be available in 2 models; namely the Spark L model and the Spark LS model, both sharing the 1,2 litre engine. South Africa joins numerous markets around the world who have already
                                  successfully introduced this stylish and modern vehicle.</p>
						<p><strong>Design</strong></p>

                        <p>Spark design conveys a sense of motion from front to back, with dramatic,
                          crisp lines, and aggressive front fascia, large elliptical-shaped headlamps,
                          clean body sides free of cladding and a standard lip spoiler. Hidden rear
                          door handles give the illusion of a stylish two-door vehicle but with the
                          functionality of four-doors. Front leg and head room rate among the best in
                          this segment. These design elements help Spark transcend the small car
                          segment and deliver a fresh, energetic appearance that looks good from any
                          angle.
                        </p>

                        <p><strong>Engine Performance</strong></p>

                        <p>The Spark is powered by a four-cylinder petrol engine delivering exceptional
                          fuel economy and class leading power. The 1,2 litre engine is mated to a
                          standard 5-speed manual transmission. 1.2 L & 1.2LS
                        </p>

						<ul>
                        <li>Power - 60kW </li>
                        <li>Torque - 110Nm</li>
						</ul>
                        <p><strong>Suspension</strong></p>

                        <p>The suspension on the 2010 Spark is tuned to deliver a smooth, refined ride
                            with responsive handling. All trim levels feature identical front/rear
                            suspension combinations. Braking Systems All models feature a front
                            disc/rear drum configuration with Antilock Brake System (ABS) for the LS
                            model. The braking system on the Spark is a very efficient, cost-effective
                            system that provides solid pedal feel and stopping performance. The brake
                            assist system that is available on the LS model applies more power to the
                            calipers during urgent stops. Instrument Cluster A unique instrument cluster
                            is mounted directly on the steering column, providing a motorcycle-type
                            look. Storage Standard 60/40 split-folding rear seats provide enhanced
                            storage capabilities. Centre console incorporates a dual cup holder and a
                            bin for small items such as mobile phones. Front door pockets with
                            integrated bottle storage and seatback pockets are large enough to carry
                            larger items, such as books. Sound System AM/FM stereo with CD player and
                            MP3 playback is standard on all Spark models. This system also includes an
                            input jack for auxiliary playback (e.g. iPOD). Spark L comes standard with a
                            2-speaker system and a 4-speaker system is standard on LS models.
                        </p>

                        <p><strong>Safety Features</strong></p>

                        <p>Occupant safety was one of the main objectives during the development of the
                        Spark. Structural enhancements, along with active and passive safety systems
                        will ensure Spark is one of the safest vehicles in the small car segment.
                        Standard three-point lap and shoulder belts in all seating locations
                        accommodate a wide range of passenger sizes. Driver and front passenger air
                        bags help protect occupants during impacts. Child safety seat latching
                        system with two steel loops is provided at each rear outboard seating
                        position (meets industry standard safety seat design - ISOFIX). Two top
                        anchors help prevent child safety seats from pitching forward during
                        collisions.
                        </p>
						<br />


						        <div id="callus">
						          <h3>Call us now about this car!</h3>
						          <p>If you are excited to get your new car right now, don't hesitate
						            and contact <strong>Suzanne</strong> now on <strong>021 443 5130</strong>
						            and quote the vehicle mod ref.</p>
						        </div>
						        <!-- end callus -->

						      </div>
						      <!-- end threeseventwo -->


<% content_for(:actions) do %>

        <div class="sidebox callback">
          <h3>Request a Call-back</h3>
          <p>We'll call you back as soon as<br />
            an agent becomes free.</p>
          <form action="/contact/callback" id="callback_form" method="post">
            <div id="callback_form_notice" class="notice" style="display: none;"></div>
            <div id="callback_form_errors" class="error" style="display: none;"></div>
            <div class="form">
              <label>First Name:</label>
              <br/>
              <input id="form_first" name="form[first]" size="30" type="text" />
              <br/>
              <label>Last Name:</label>
              <br/>
              <input id="form_last" name="form[last]" size="30" type="text" />
              <br/>
              <label>Phone number:</label>
              <br/>
              <input id="form_phone" name="form[phone]" size="30" type="text" />
              <br/>
              <label>Branch:</label>
              <br/>
              <select id="form_branch_id" name="form[branch_id]">
                <option value="">Please select ...</option>
                <option value="1">Tygervalley</option>
                <option value="2">Cape Town</option>
                <option value="3">N1 City</option>
                <option value="4">Isuzu Truck Centre</option>
                <option value="5">Premium Brands</option>
              </select>
              <br/>
              <input id="form_vehicle" name="form[vehicle]" type="hidden" value="CHEVROLET Cruze" />
              <input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" />
              <span id='callback_spinner' style='display:none;'><img alt="Spinner" src="/images/spinner.gif" /></span>
            </div>
          </form>
        </div>
        <!--<div class="sidebox testdrive">
          <h3>Book a Test Drive</h3>
          <div id="book_test_drive_form_notice" class="notice" style="display: none;"></div>
          <div id="book_test_drive_form_errors" class="error" style="display: none;"></div>
          <form action="/contact/new_vehicle_book_test_drive" id="book_test_drive_form" method="post">
            <div class="form">
              <label>Your first name:</label>
              <input id="form_first" name="form[first]" size="30" type="text" />
              <br/>
              <label>Your last name:</label>
              <input id="form_last" name="form[last]" size="30" type="text" />
              <br/>
              <label>Telephone No:</label>
              <input id="form_phone" name="form[phone]" size="30" type="text" />
              <br/>
              <label>Email address: </label>
              <input id="form_email" name="form[email]" size="30" type="text" />
              <br/>
              <label class="gap">Vehicle:</label>
              <br/>
              <select id="form_vehicle" name="form[vehicle]">
                <option value="CHEVROLET CRUZE 1.6 L">CHEVROLET CRUZE 1.6 L</option>
                <option value="CHEVROLET CRUZE 1.6 LS">CHEVROLET CRUZE 1.6 LS</option>
                <option value="CHEVROLET CRUZE 1.8 LS">CHEVROLET CRUZE 1.8 LS</option>
                <option value="CHEVROLET CRUZE 1.8 LT A/T">CHEVROLET CRUZE 1.8 LT A/T</option>
              </select>
              <br/>
              <label>Branch:</label>
              <br/>
              <select id="form_branch" name="form[branch]">
                <option value="">Please select ...</option>
                <option value="Tygervalley">Tygervalley</option>
                <option value="Cape Town">Cape Town</option>
                <option value="N1 City">N1 City</option>
                <option value="Isuzu Truck Centre">Isuzu Truck Centre</option>
                <option value="Premium Brands">Premium Brands</option>
              </select>
              <br/>
              <label>Comments:</label>
              <br/>
              <textarea cols="27" id="form_comments" name="form[comments]" rows="2"></textarea>
              <br/>
              <input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" />
              <span id='book_test_drive_spinner' style='display:none;'><img alt="Spinner" src="/images/spinner.gif" /></span>
            </div>
          </form>
        </div>-->
        <script type="text/javascript">
//<![CDATA[

 $('#book_test_drive_form').ajaxForm({
	dataType: 'script',
	beforeSubmit: function(xhr){
		$('#book_test_drive_spinner').show();
		$('#book_test_drive_form_errors').hide();
		$('#book_test_drive_form_notice').hide();
	},
	success: function(data){
		$('#book_test_drive_spinner').hide();
		eval(data);
	}
});
//]]>
</script>
        <script type="text/javascript">
	//<![CDATA[

	 $('#callback_form').ajaxForm({
		dataType: 'script',
		beforeSubmit: function(xhr){
			$('#callback_spinner').show();
			$('#callback_form_errors').hide();
			$('#callback_form_notice').hide();
		},
		success: function(data){
			$('#callback_spinner').hide();
			eval(data);
		}
	});
	//]]>
	</script>
      </div>


<% end -%>

