<div id="gallery">
	<script language="JavaScript" type="text/javascript">
		function movepic(img_name,img_src) {
			document[img_name].src=img_src;
		}
	</script>
	<%= image_tag new_vehicle.gallery_images.first, :size => "200x150", :title => new_vehicle.humanize, :alt => "Image", :name => "main" %>
	<div id="thumbs">
		<% new_vehicle.gallery_images.each do |image| %>
			<a href="#" onclick="movepic('main','<%= image %>')"><%= image_tag image, :title => new_vehicle.humanize, :alt => "Image" %></a>
		<% end %>
	</div><!-- end thumbs -->
	<% unless new_vehicle.attachments.brochure.nil? %>
		<p class="pdf"><strong><%= link_to "Download", new_vehicle.attachments.brochure.public_filename, :title => new_vehicle.attachments.brochure.name, :popup => true %> a detailed PDF</strong><br />
		brochure for this vehicle</p>
	<% else %>
		<p class="no_pdf">There is currently no detailed PDF brochure available for download.</p>
	<% end %>

</div><!-- end gallery -->
