<% content_for(:browser_title) do %>
	New vehicles
<% end -%>

<% content_for(:title) do %>
	<h2>New vehicles</h2>
<% end -%>

<div id="newcars">
	<% Make.new_vehicles.in_groups_of(3) do |row| %>
		<% row.each do |make| %>
			<% if make %>
				<table border="0" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th><%=h make.name %></th> 
						</tr>
					</thead>
					<tbody>
						<% make.find_model_ranges_in_stock.each do |model_range| %>
							<tr>
								<td><%= link_to model_range.name, new_vehicle_path(model_range.new_vehicles.first.permalink) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>
		<div id="clearall"></div>
	<% end %>
</div>