<h1>Import Mead &amp; McGrouther list</h1>
<p>
  Here you can import a Mead & McGrouther list file to our service.
</p>
<p>The file should not have any header columns and the columns must be separated using commas (","). The columns must be ordered as follows:</p>
<p>make,make and model, mead & mcgrouther code, model, year</p>
<p>Any columns beyond these ones will be ignored, but these first five columns <b>must be in the correct order</b></p>
<% form_tag( { :action => 'import_mm' }, { :method => :post, :multipart => true } )do %>
      File: <%= file_field_tag :file  %>
      <br/>
      <%= submit_tag 'Import'   %>
<% end  %>