<h2>Import Cyberstock</h2>

<p><b>Important:</b></p>
<ol>
  <li>The stock list must be saved from Microsoft Excel as a comma-delimited text file.</li>
  <li>Make and Model fields must correspond to entries on the Mead & McGrouther list.</li>
  <li>Don't remove the first line of column headings from the file.</li>
  <li>The document must contain <b>all</b> the columns listed below, any other columns will be ignored.</li>
  <li>The columns <b>must</b> be in this exact order.</li>
	<li>You don't need data for the img_url columns - though the columns needs to appear in the file</li>
</ol>

<p><b>Columns:</b>
	Expiry_Date	Stock_Code Branch	Make	Model	Year	Colour	Kilometers	Price	Service_History	Features	Type	Advert (if new)	Real_Stock_Code (if used)	MM_Code	IMG_1	IMG_2	IMG_3
</p>

<p>
<b>Example (We have used '|' to indicate the separation between columns.):</b>
</p>

<p>20/11/2008	| CC000001 | CT | CHEVROLET	| AVEO 1.5 LS 5Dr	| 2007	| Silver |	12 000 |	89 995	| Yes	 | ABS Airbags AirCon Alloy Wheels Anti Theft - Alarm Anti Theft - Immobiliser Balance of Manufacturer Warranty Central Locking Electric Windows Full Service History Maintenance Plan Metallic Paint Power Steering Radio and CD  | 	Used	|	O12085	| 10030280</p>

<% form_tag( { :action => 'import_cyberstock' }, { :method => :post, :multipart => true } ) do %>
      File: <%= file_field_tag :file  %>
      <br/>
      <%= submit_tag 'Import'   %>
<% end %>