<h2>Pages</h2>

<%= will_paginate @pages %>

<% unless @pages.blank? %>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%= link_to page.title, page %></td>
  </tr>
<% end %>
</table>

<% else  %>
  <p>There are no pages available yet</p>
<% end  %>

<%= will_paginate @pages %>
