<% content_for(:browser_title) do %>
	<%=h @page.title %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @page.title %></h2>
<% end -%>

<%= image_tag(@page.image.public_filename(:medium), :class => "dropshad") if @page.image %>
<%= @page.rendered_text %>

<br/>

<div id="callus">
	<h3>Call us now!</h3>
	<p>Contact us now to find out more about <strong>new vehicles</strong> or speak to one of our agents about our selection of <strong>used cars</strong> on offer. See our <a href="contact-us.html">contact details</a> to get in touch.</p>
</div><!-- end callus -->