<% unless @branch.assignments.blank? %>
    <table>
      <thead>
        <tr>
          <th>Job title</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="assignments">
        <% for assignment in @branch.assignments %>
            <%= partial :assignment, :assignment => assignment %>
        <% end %>
      </tbody>
    </table>
<% else  %>
  <p>No salespeople have been assigned to this branch </p>
<% end %>