<% content_for(:browser_title) do %>
	Specials
<% end -%>

<% content_for(:title) do %>
	<h2>Specials</h2>
<% end -%>


<% unless @specials.blank? %>

<table>
  <tr>
		<th></th>
    <th>Title</th>
  </tr>

<% for special in @specials %>
  <tr>
		<td width="200"><%= link_to(image_tag(special.image.public_filename(:medium)), special, :title => special.title) if special.image %></td>
    <td><%= link_to special.title, special %></td>
  </tr>
<% end %>
</table>

<% else  %>
  <p>There are no specials available yet</p>
<% end  %>