<div id="gallery">
	<script language="JavaScript" type="text/javascript">
		function movepic(img_name,img_src) {
			document[img_name].src=img_src;
		}
	</script>
	<img src="/images/vehicles/bmw1.jpg" name="main" alt="Capriva"/>
	<div id="thumbs">
		<a href="#" onclick="movepic('main','/images/vehicles/bmw1.jpg')"><img src="/images/vehicles/bmw1.jpg" alt="Capriva"/></a>
		<a href="#" onclick="movepic('main','/images/vehicles/bmw2.jpg')"><img src="/images/vehicles/bmw2.jpg" alt="Capriva"/></a>
		<a href="#" onclick="movepic('main','/images/vehicles/bmw3.jpg')"><img src="/images/vehicles/bmw3.jpg" alt="Capriva"/></a>
	</div><!-- end thumbs -->
	<p>Click on each image to enlarge</p>
</div><!-- end gallery -->
