<% link_to_section "Warranty information" do |cancel| %>	
	<p><%= link_to_function("Hide warranty", cancel) %></p>
	<h3>Warranty  information</h3>
	<p><strong>G2 Certified Used Cars</strong></p>

	<p>The G2 Certified Used Car Programme has been designed to ensure you make a sound purchase. Quality, reliability and safety are core values for the vehicles sold under the G2 banner. Stringent Retailer standards are independently monitored throughout the General Motors network. Every reasonable precaution is taken to ensure that you enjoy trouble-free motoring. So extensive is the G2 Certified Used Car Programme, it includes:</p>
	<div class="list">
		<ul>
			<li>114 Point Quality Check</li>
			<li>30 Exchange Plan</li>
			<li>2 Year/Unlimited Kilometre Warranty</li>
			<li>Full Service History</li>
			<li>24 Months Free Roadside Assistance</li>
			<li>Ownership Peace of Mind</li>
			<li>Variety of Financing Packages</li>
			<li><a href="www.G2cars.co.za">Used Car Locator</a></li>
		</ul>
	</div>
	<p>Buying a G2 Certified Used Car you will receive a Good Car at Best Value!</p>

	<p><strong>30 day Exchange Plan</strong></p>

	<p>General Motors is committed to total customer satisfaction with every G2 Certified Used Car sold. For this reason the Retailer offers a 30 Day Exchange Plan. If we cannot correct a fault that you report within 30 day or 1 000 kilometres period after purchase, then we will exchange the vehicle for another vehicle of a similar price.</p>

	<p><strong>114 Point Quality Check</strong></p>

	<p>Quality is the basis of the G2 Certified Used Car. For this reason we take an extraordinary amount of care, making sure that every item in G2 Certified Used Car is in perfect working order. The 114 point Quality check sets the standard for the industry and provides you with a thoroughly inspected vehicle. All standards and repairs are conducted within the manufacturer’s demanding tolerances. When you purchase a G2 Certified Used Car you will receive a certificate stating that the vehicle qualified the stringent check.</p>
<% end -%>
