<h2>Used vehicles</h2>

<p>Reeds Motor Group is proud to offer you the best selection of quality pre-owned vehicles in the Western Cape. Our stock is updated on a daily basis. All our vehicles undergo a stringent 60 point quality check at our Quality Inspection Centre.</p>
<%= partial "search/classifieds_form" %>