<% content_for(:browser_title) do %>
	Used vehicles
<% end -%>

<% content_for(:title) do %>
	<h2>Used vehicles</h2>
<% end -%>

<p>Reeds Motor Group is proud to offer you the best selection of quality pre-owned vehicles in the Western Cape. Our stock is updated on a <strong>daily</strong> basis. All our vehicles undergo a stringent 114 point quality check at our Quality Inspection Centre.  Reeds retail all brands of pre owned vehicles but being a General Motors Franchise, most of our pre owned stock is made up of Opel, Isuzu, Chevrolet, Cadillac, SAAB and Hummer. Please check our stock regularly or subscribe to our stock sheet by clicking <%= link_to "here", "/stocklists/subscribe" %>.</p>

<p>Once we have received your enquiry, it will be handled speedily and professionally by our centralized enquiry centre.  Thereafter we hand the enquiry to a sales person that specializes in website enquiries only.</p>


