  <h3> Accessories </h3>
  <div id="accessoriesPanel">
    <% @new_vehicle.accessories.each_with_index do |object, index| %>
      <% fields_for "accessories[#{index}]", object do |a| %>
            <%= partial :item, :object => object, :url => admin_accessory_path(object), :a => a %>
      <% end  %>
    <% end %>
  </div>

<a href="javascript:void( 0 )" onclick="addNewAccessoryField(); return false;"> New accessory </a>