  <h3>Model variants</h3>

  <div id="variantsPanel">
  
    <% @new_vehicle.new_vehicle_variants.each_with_index do |object, index| %>
      <% fields_for "new_vehicle_variants[#{index}]", object do |a| %>
            <%= partial :item, :object => object, :url => admin_new_vehicle_variant_path(object), :a => a %>
      <% end  %>
    <% end %>        
          
  </div>
  
  <a href="javascript:void( 0 )" onclick="addNewVariantField(); return false;"> New model variant </a>