<h1>Categories</h1>

<% unless @categories.blank? %>
  <table>
    <tr>
      <th>Name</th>
    </tr>
  
    <% for category in @categories %>
      <tr>
        <td><%=h category.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p> There are no categories available yet. </p>
<% end  %>

<br />

<%= link_to 'New category', new_category_path %>
