<div id="featureWrapper">
	<div id="bar">
		<div id="fW_Controls"></div>
		<p>Click through the <strong>vehicle gallery</strong>...</p>
	</div>
	<div style="overflow: hidden; position: relative;" id="fW_Content">
		<img style="position: absolute; top: 0pt; left: -600px; display: block; z-index: 3; opacity: 1;" src="/images/tmp/tigra.jpg" alt="Tigra"> 
		<img style="position: absolute; top: 0pt; left: 0px; display: block; z-index: 2;" src="/images/tmp/captiva.jpg" alt="Captiva">
		<img style="position: absolute; top: 0pt; left: -600px; display: block; z-index: 1;" src="/images/tmp/corsa.jpg" alt="Corsa"> 
	</div>
</div><!-- end featureWrapper //-->
