<div id="logos">
<a href="/new_vehicles"><img src="/images/logos/chevrolet.gif" alt="Chevrolet" /></a>
<a href="/new_vehicles"><img src="/images/logos/opel.gif" alt="Opel" /></a>
<a href="/new_vehicles"><img src="/images/logos/isuzu.gif" alt="Isuzu" /></a> 
<a href="/new_vehicles"><img src="/images/logos/hummer.gif" alt="HUMMER" /></a> 
<a href="/new_vehicles"><img src="/images/logos/saab.gif" alt="Saab" /> </a>
<a href="/new_vehicles"><img src="/images/logos/cadillac.gif" alt="Cadillac" /></a> 
</div><!-- end logos -->


<div id="footer">
<ul>
	<li><a href="/" class="current">Home</a></li>
	<li><a href="/classifieds">Vehicles</a></li>
	<li><a href="/new_vehicles">Trucks</a></li>
	<li><a href="/pages/workshop-qa">After Sales Service</a></li>
	<li><a href="/pages/about-us">Company</a></li>
	<li><a href="/newsletters/subscribe">Interactive</a></li>
	<li><a href="/contact">Contact us</a></li>
</ul>
<p>&copy; Reeds Cars Cape Town, Western Cape, South Africa.  All Rights Reserved.</p>
<br/><span class="small">Maintained by <%= link_to "White Wall Web", "http://www.whitewallweb.com" %></span>
</div><!-- end footer -->
