<div id="logos">
<a href="http://www.chevrolet.co.za/"><img src="/images/logos/chevrolet.gif" alt="Chevrolet" /></a>
<a href="http://www.opel.co.za/"><img src="/images/logos/opel.gif" alt="Opel" /></a>
<a href="http://www.isuzu.co.za/"><img src="/images/logos/isuzu.gif" alt="Isuzu" /></a> 
<a href="http://www.hummer.co.za/"><img src="/images/logos/hummer.gif" alt="HUMMER" /></a> 
<a href="http://www.saab.co.za/"><img src="/images/logos/saab.gif" alt="Saab" /> </a>
<a href="http://www.cadillac.co.za/"><img src="/images/logos/cadillac.gif" alt="Cadillac" /></a> 
</div><!-- end logos -->


<div id="footer">
<ul>
	<li><a href="/" class="current">Home</a></li>
	<li><a href="/classifieds">Vehicles</a></li>
	<li><a href="/trucks">Trucks</a></li>
	<li><a href="">After Sales Service</a></li>
	<li><a href="">Company</a></li>
	<li><a href="">Interactive</a></li>
	<li><a href="/contact">Contact us</a></li>
	<li><a href="">Site-map</a></li>
</ul>
<p>© Copyright Reeds.  All Rights Reserved.</p>
</div><!-- end footer -->
