<div style="top-margin: 30px; font-size: 10px;">
	<%= link_to "Terms &amp conditions", "/terms.html" %> | <%= link_to " Promotion of Access to Information Act", "/reeds_motorgroup_paia_manual.pdf" %>
</div>